{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>gamer hubspot</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/upload_vid.css' %}">
</head>
<body>
	<header>
		<div class="logo">
			<h2>GamerHubspot</h2>
		</div>
	</header>

	<section class="main_content_container">
		<div class="left_side">
			<ul class="left_navbar">
				<li><a href="{% url 'auth_home' %}">HOME</a></li>
				<li><a href="{% url 'upload_vid' %}">UPLOAD</a></li>
				<li><a href="{% url 'signout' %}">LOG OUT</a></li>
			</ul>
		</div>
		<div class="right_side">
			<div class="upload_video_container">
				<form class="actual_form" method="post" action="" enctype="multipart/form-data">
					{% csrf_token %}
					{{form.as_p}}
					<button class="upload_btn">UPLOAD VIDEO</button>
				</form>
			</div>
		</div>
	</section>

	<footer>
		<div class="normal_footer">
			This is the footer for now
		</div>
		<div class="bottom_nav_icons_container"></div>
	</footer>
</body>
</html>